<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 태그 안에 작성하기 -->
<mapper namespace="com.spring.madi.BoardMapper">
	<resultMap type="com.spring.madi.BoardVO" id="BoardResultMap">
		<result property="board_num" column="BOARD_NUM" />
		<result property="user_id" column="USER_ID" />
		<result property="board_title" column="BOARD_TITLE" />
		<result property="board_summry" column="BOARD_SUMMRY" />
		<result property="board_img" column="BOARD_IMG" />
		<result property="board_recipe_id" column="BOARD_RECIPE_ID" />
		<result property="board_like" column="BOARD_LIKE" />
		<result property="board_time" column="BOARD_TIME" />
		<!-- (진산) 본문 글쓴이의 프로필 이미지를 위해 넣음 -->
		<result property="user_img" column="USER_IMG" />
	</resultMap>
	
	<resultMap type="BoardReplyVO" id="BoardReplyResultMap">
		<result property="board_num" column="BOARD_NUM" />
		<result property="user_id" column="USER_ID" />
		<!-- (진산) 본문 댓글의 프로필 이미지를 위해 넣음 -->
		<result property="user_img" column="USER_IMG" />
		<result property="rep_content" column="REP_CONTENT" />
	</resultMap>
	
	<resultMap type="UserLikeBoVO" id="UserLikeBoResultMap">
		<result property="user_id" column="USER_ID" />
		<result property="board_num" column="BOARD_NUM" />
	</resultMap>	

	
	<!-- (진산)게시글 목록 구하기 -->
	<select id="getBoards" resultMap="BoardResultMap" parameterType="String">
	<!--SELECT a.board_num, a.user_id, c.user_img, a.board_title, a.board_summry, 
		a.board_img, a.board_recipe_id, a.board_like, a.board_time, b.rep_content
		FROM board a, board_reply b, member c 
		WHERE a.user_id = b_user_id and a.user_id = c.user_id and user_id= #{user_id, javaType=String} -->
		SELECT * FROM board WHERE user_id= #{user_id, javaType=String}
	</select>
	<!-- (진산)팔로잉한 사람들의 게시글 목록 구하기..foreach로 팔로잉한 사람들의 게시글을 보여준다 -->
	<select id="getFollowingBoards" resultMap="BoardResultMap">
		SELECT a.board_num, a.user_id, a.user_img, a.board_title, a.board_summry, 
		a.board_img, a.board_recipe_id, a.board_like, a.board_time, b.rep_content
		FROM board a, board_reply b, member_follow c
		WHERE a.user_id= b.user_id and a.user_id=c.following_user_id
		and following_user_id in
			<foreach item="following_user_id" collection="array" open="(" separator="," close=")">
				#{following_user_id}
			</foreach>
		ORDER BY board_time desc
	</select> 
	<!-- (진산)좋아요 버튼 누르면 하나 추가하기 -->
	<update id="updateBoardLike" parameterType="com.spring.madi.BoardVO">
		UPDATE board SET board_like= board_like + 1 
		WHERE board_num= #{board_num, javaType=String} AND user_id= #{user_id, javaType=String} 
	</update>
</mapper>