<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 이 안에다가 쿼리문 작업하셔야 합니다 -->
<mapper namespace="com.spring.madi.RecipeMapper">
	<resultMap type="RecipeVO" id="RecipeResultMap">
		<result property="recipe_id" column="RECIPE_ID" />
		<result property="recipe_title" column="RECIPE_TITLE" />
		<result property="recipe_desc" column="RECIPE_DESC" />
		<result property="nation_code" column="NATION_CODE" />
		<result property="ty_code" column="TY_CODE" />
		<result property="cooking_time" column="COOKING_TIME" />
		<result property="img_url" column="IMG_URL" />
		<result property="detail_url" column="DERAIL_URL" />
		<result property="user_id" column="USER_ID" />
		<result property="nation_name" column="NATION_NAME" />
		<result property="ty_name" column="TY_NAME" />
		<!-- recipe의 모든 재료정보를 ArrayList에 담아 recipeIrdnt로 리턴 -->
		<collection property="recipeIrdnt" column="RECIPE_ID" javaType="java.util.ArrayList" ofType = "com.spring.madi.RecipeIrdntVO" select="getRecipeIrdntById"/>
		<!-- recipe의 모든 과정정보를 ArrayList에 담아 recipeProcess로 리턴 -->
		<collection property="recipeProcess" column="RECIPE_ID" javaType="java.util.ArrayList" ofType="com.spring.madi.RecipeProcessVO" select="getRecipeProcessById"/>
	</resultMap>
	
	<select id="getRecipeById" resultMap="RecipeResultMap" parameterType="com.spring.madi.RecipeVO">
			SELECT recipe_id, recipe_title, recipe_desc, 
				   a.nation_code as nation_code, a.ty_code as ty_code, 
				   cooking_time, img_url, detail_url, user_id, 
				   nation_name, ty_name
			FROM recipe_info a, nation b, recipe_type c

			WHERE a.nation_code = b.nation_code AND a.TY_CODE = c.TY_CODE AND recipe_id = 466
		</select>
		
	<select id="getRecipeIrdntById" resultType="com.spring.madi.RecipeIrdntVO">
			SELECT recipe_id, irdnt_name, irdnt_cpcty, b.irdnt_ty_code as irdnt_ty_code, b.irdnt_ty_name as irdnt_ty_name
			FROM recipe_irdnt a, irdnt_type b

			WHERE a.irdnt_ty_code = b.irdnt_ty_code AND recipe_id = 466
		</select>

	<select id="getRecipeProcessById" resultType="com.spring.madi.RecipeProcessVO">
			SELECT recipe_id, cooking_no, cooking_desc, step_img_url, step_tip
			FROM recipe_process
			WHERE recipe_id = 466 order by cooking_no  
		</select>

	
	<!-- 게시글 전체 보기/ BOARD와 RECIPE_INFO를 출력해야하는데..-->
	<select id="postList" resultMap="RecipeResultMap">
		SELECT * FROM RECIPE_INFO ORDER BY TIME DESC
	</select>
	
	<!--
	 SELECT * FROM (
	    SELECT RECIPE_ID,  IMG_URL,  USER_ID
	    FROM RECIPE_INFO 
	    UNION ALL
	    SELECT BOARD_RECIPE_ID, BOARD_IMG, USER_ID
	    FROM BOARD
	) 
	ORDER BY RECIPE_ID;	 
	 -->
	
	<!-- 게시글 올리기 -->
	<insert id="insertRecipe" parameterType="com.spring.madi.RecipeVO">
		<selectKey resultType="int" keyProperty="recipe_id" order="BEFORE">
			SELECT MAX(recipe_id) + 1 FROM recipe_info
		</selectKey>
		INSERT INTO recipe_info (recipe_id, recipe_title, recipe_desc, nation_code, ty_code, cooking_time, img_url, user_id)
		VALUES (#{recipe_id}, #{recipe_title}, #{recipe_desc}, #{nation_code}, #{ty_code}, #{cooking_time}, #{img_url}, #{user_id})
	</insert>
	
	<!-- 성빈 : 레시피 재료 입력하기 -->
	<insert id="insertRecipeIrdnt" parameterType="com.spring.madi.RecipeIrdntVO">
		<selectKey resultType="int" keyProperty="recipe_id" order="BEFORE">
			SELECT MAX(recipe_id) FROM recipe_info
		</selectKey>
		INSERT INTO recipe_irdnt(recipe_id, irdnt_name, irdnt_cpcty, irdnt_ty_code)
		VALUES (#{recipe_id}, #{irdnt_name}, #{irdnt_cpcty}, #{irdnt_ty_code})
	</insert>
	<!-- 성빈 : 레시피 과정 입력하기 -->
	<insert id="insertRecipeProcess" parameterType="com.spring.madi.RecipeProcessVO">
		<selectKey resultType="int" keyProperty="recipe_id" order="BEFORE">
			SELECT MAX(recipe_id) FROM recipe_info
		</selectKey>
		INSERT INTO recipe_process(recipe_id, cooking_no, cooking_desc, step_img_url, step_tip)
		VALUES(#{recipe_id}, #{cooking_no}, #{cooking_desc}, #{step_img_url, jdbcType=VARCHAR}, #{step_tip})
	</insert>
	<!-- 성빈 : 배열 형태의 ty_code값이 여러번 입력될 경우 해당 recipe 목록을 조회하는 메소드 -->
	<select id="getRecipesByTy_code" resultType="com.spring.madi.RecipeVO">
		SELECT recipe_id, recipe_title, recipe_desc, img_url, user_id, cooking_time
		FROM recipe_info
		WHERE ty_code IN
			<foreach item="ty_code" collection="array" open="(" separator="," close=")">
				#{ty_code}
			</foreach>  
	</select>
</mapper>